[submodule "ObjectDetection"]
	path = ObjectDetection
	url = git@github.com:tedtasman/ORB-Object-Detection.git
[submodule "piTools"]
	path = piTools
	url = git@github.com:tedtasman/piTools.git
[submodule "CameraTesting"]
	path = CameraTesting
	url = https://github.com/dec4234/CameraTesting.git
[submodule "GPSLocator"]
	path = GPSLocator
	url = git@github.com:UnmannedAerialSystems/GPSLocator.git
[submodule "MAVez"]
    path = MAVez
    url = git@github.com:tedtasman/MAVez.git
[submodule "LionSight2"]
	path = LionSight2
	url = git@github.com:tedtasman/LionSight2.git
